<div class="main-container" hidden="true">
  <div class="header">
    <div class="tabs">
      <div class="tab">Templates</div>
    </div>
    <div class="search-create-section">
      <div class="search-container-templates">
        <input class="search-input-templates" type="search" placeholder="Search" aria-label="Search">
        <svg class="search-icon-templates" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M11 4C7.13401 4 4 7.13401 4 11C4 14.866 7.13401 18 11 18C14.866 18 18 14.866 18 11C18 7.13401 14.866 4 11 4ZM2 11C2 6.02944 6.02944 2 11 2C15.9706 2 20 6.02944 20 11C20 15.9706 15.9706 20 11 20C6.02944 20 2 15.9706 2 11Z"
            fill="#686D5D" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.2928 16.2909C16.6833 15.9004 17.3165 15.9004 17.707 16.2909L21.707 20.2909C22.0975 20.6815 22.0975 21.3146 21.707 21.7052C21.3165 22.0957 20.6833 22.0957 20.2928 21.7052L16.2928 17.7052C15.9022 17.3146 15.9022 16.6815 16.2928 16.2909Z"
            fill="#686D5D" />
        </svg>
      </div> <button class="filters-btn">Filters</button>
      <div class="create-form-dropdown">
        <button class="create-form-btn">Create a new form</button>
        <div class="dropdown-content">
          <a href="#">Create new form</a>
          <a href="#">Upload form</a>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <div class="container-card">
      <div>
        <div class="card-title">Ck compliance</div>
        <div class="card-subtitle"><span class="status-icon">✔</span> Response received on 23-03-2024</div>
      </div>
      <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1720_3912)">
            <path
              d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z"
              fill="#686D5D" />
          </g>
          <defs>
            <clipPath id="clip0_1720_3912">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg></div>
    </div>
    <div class="container-card">
      <div>
        <div class="card-title">Ck compliance</div>
        <div class="card-subtitle"><span class="status-icon">✔</span> Response received on 23-03-2024</div>
      </div>
      <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1720_3912)">
            <path
              d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z"
              fill="#686D5D" />
          </g>
          <defs>
            <clipPath id="clip0_1720_3912">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg></div>
    </div>
    <div class="container-card">
      <div>
        <div class="card-title">Ck compliance</div>
        <div class="card-subtitle"><span class="status-icon">✔</span> Response received on 23-03-2024</div>
      </div>
      <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1720_3912)">
            <path
              d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z"
              fill="#686D5D" />
          </g>
          <defs>
            <clipPath id="clip0_1720_3912">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg></div>
    </div>
    <div class="container-card">
      <div>
        <div class="card-title">Ck compliance</div>
        <div class="card-subtitle"><span class="status-icon">✔</span> Response received on 23-03-2024</div>
      </div>
      <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1720_3912)">
            <path
              d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z"
              fill="#686D5D" />
          </g>
          <defs>
            <clipPath id="clip0_1720_3912">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg></div>
    </div>
    <div class="container-card">
      <div>
        <div class="card-title">Ck compliance</div>
        <div class="card-subtitle"><span class="status-icon">✔</span> Response received on 23-03-2024</div>
      </div>
      <div><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1720_3912)">
            <path
              d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z"
              fill="#686D5D" />
          </g>
          <defs>
            <clipPath id="clip0_1720_3912">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg></div>
    </div>

  </div>
</div>


<div class="main-form" >
  <div>
    <div class="section-card">
      <div class="section-card-wrap">
        <div class="sectioncard-header">
          <div class="header-title">Employee well-being
            <div class="header-subtitle">Ensure quality</div>

          </div>
          <div class="section-number">Section 1</div>
        </div>
        <div class="section-body">
          <div class="section-group">
            <div class="group-title">Safety check</div>
            <ul class="group-list">
              <li class="group-item">Website URL (optional)</li>
              <li class="group-item">Company details</li>
              <li class="group-item">Technical collaboration</li>
              <li class="group-item">Environment Aspects and GSCM</li>
            </ul>
          </div>

          <div class="section-group">
            <div class="group-title">Company details</div>
            <ul class="group-list">
              <li class="group-item">Website URL (optional)</li>
              <li class="group-item">Company details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="main-content-wrap">
    <div class="title-form">
      <div class="title-form-title">Vedanta-Compliance form</div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M14.0588 9.02L14.9788 9.94L5.91878 19H4.99878V18.08L14.0588 9.02ZM17.6588 3C17.4088 3 17.1488 3.1 16.9588 3.29L15.1288 5.12L18.8788 8.87L20.7088 7.04C21.0988 6.65 21.0988 6.02 20.7088 5.63L18.3688 3.29C18.1688 3.09 17.9188 3 17.6588 3ZM14.0588 6.19L2.99878 17.25V21H6.74878L17.8088 9.94L14.0588 6.19Z" fill="#585A64"/>
      </svg>    </div>
    <div class="form-main-wrap">



      <div class="form-container">
        <div class="section-header">
          <h2>Section title<span>Section 1 of 2</span>
          </h2>
          <input type="text" placeholder="Enter section description">
        </div>

        <div class="question-block">
          <div class="question-sub-block">

            <div class="question-type-wrap1">
              <div for="question-type">Choose type</div>
              <select id="question-type">
                <option>Multiple choice</option>
                <option>Checkbox</option>
                <option>Short answer</option>
              </select>
            </div>


            <div class="question-type-wrap2"><label for="question-input">Question</label>
              <input type="text" id="question-input" placeholder="Enter question">
            </div>
          </div>



          <div class="options">
            <div class="option">
              <input type="radio" id="option1">
              <input type="text" placeholder="a) Option 1">
              <button>&times;</button>
            </div>
            <div class="option">
              <input type="radio" id="option2">
              <input type="text" placeholder="b) Add option 2">
              <button>&times;</button>
            </div>
          </div>

          <div class="optional-toggle">
            <label for="toggle">Optional:</label>
            <label class="switch">
              <input type="checkbox" id="toggle">
              <span class="slider round"></span>
            </label>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path
                d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z"
                fill="#585A64" />
            </svg>
          </div>
        </div>



      </div>

      <div>
        <div class="sidebar">
          <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 11.4286H11.4286V20H8.57143V11.4286H0V8.57143H8.57143V0H11.4286V8.57143H20V11.4286Z" fill="#666662"/>
          </svg></button>
          <button (click)="openModal()"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M6.25 17.5H2.5L2.5 2.5L6.25 2.5V0L2.5 0C1.125 0 0 1.125 0 2.5L0 17.5C0 18.875 1.125 20 2.5 20H6.25V17.5ZM13.75 3.75L11.9875 5.5125L15.2125 8.75L5 8.75V11.25L15.2125 11.25L11.9875 14.4875L13.75 16.25L20 10L13.75 3.75Z" fill="#666662"/>
          </svg></button>
          <button><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 2.5V17.5H17.5V2.5H2.5ZM2 0C0.895431 0 0 0.895431 0 2V18C0 19.1046 0.895431 20 2 20H18C19.1046 20 20 19.1046 20 18V2C20 0.895431 19.1046 0 18 0H2Z" fill="#666662"/>
          </svg></button>
          <button>&#9776;</button>
        </div>
      </div>


    </div>
  </div>

</div>



<!-- Modal -->
<div *ngIf="isModalOpen" class="modal shimmer-in">
  <div class="select-modal-content">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <div class="modal-container">
      <!-- Back button and header -->
      <div class="header">
        
        <h1>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="#111407"/>
</svg></span>
          Select the form to import questions from</h1>
        <div class="search-container">
          <input class="search-input" type="search" placeholder="Search" aria-label="Search">
          <svg class="search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11 4C7.13401 4 4 7.13401 4 11C4 14.866 7.13401 18 11 18C14.866 18 18 14.866 18 11C18 7.13401 14.866 4 11 4ZM2 11C2 6.02944 6.02944 2 11 2C15.9706 2 20 6.02944 20 11C20 15.9706 15.9706 20 11 20C6.02944 20 2 15.9706 2 11Z"
              fill="#686D5D" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M16.2928 16.2909C16.6833 15.9004 17.3165 15.9004 17.707 16.2909L21.707 20.2909C22.0975 20.6815 22.0975 21.3146 21.707 21.7052C21.3165 22.0957 20.6833 22.0957 20.2928 21.7052L16.2928 17.7052C15.9022 17.3146 15.9022 16.6815 16.2928 16.2909Z"
              fill="#686D5D" />
          </svg>
        </div>
      </div>

      <!-- Compliance forms grid -->
      <div class="grid">
        <div (click)="openCardModal()" class="card">
          <h2>HnM compliance</h2>
          <p>Created on: 12-04-2024</p>
        </div>
        <div class="card">
          <h2>Adidas compliance</h2>
          <p>Created on: 12-04-2024</p>
        </div>
        <div class="card">
          <h2>Nike compliance</h2>
          <p>Created on: 12-04-2024</p>
        </div>
        <div class="card">
          <h2>Puma compliance</h2>
          <p>Created on: 12-04-2024</p>
        </div>
        <div class="card">
          <h2>Reliance compliance</h2>
          <p>Created on: 12-04-2024</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!--  Card click Modal -->

<div *ngIf="isCardModalOpen" class="modal shimmer-in">
  <div class="modal-content">
    <span class="close-btn" (click)="closeCardModal()">&times;</span>
    <div class="modal-container">

      <div class="card-modal-header">
        <h1><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="#111407"/>
        </svg></span>HnM compliance</h1>
      </div>
      <div class="select-card-container">
        <form>
          <div class="select-card-section">
            <ul class="card-modal-title">
              <li class="bold-li"><input type="checkbox" id="employee">Employee well-being
                <br />
                <p class="small-li">Ensure quality</p>
              </li>
              <p class="section-text-style">
                Sectiion 1
              </p>

            </ul>

            <div class="p-3">
              <p class="subtitle-card">Safety check
              </p>
              <ul>
                <li class="semibold-li"><input type="checkbox" id="website-url"> Website URL (optional)</li>
                <li class="semibold-li"><input type="checkbox" id="company-details"> Company details</li>
                <li class="semibold-li"><input type="checkbox" id="technical-collaboration"> Technical collaboration
                </li>
                <li class="semibold-li"><input type="checkbox" id="environment-aspects"> Environment Aspects and GSCM
                </li>
              </ul>
              <hr />
              <p class="subtitle-card">Company details </p>
              <ul>
                <li class="semibold-li"><input type="checkbox" id="website-url"> Website URL (optional)</li>
                <li class="semibold-li"><input type="checkbox" id="company-details"> Company details</li>
              </ul>
            </div>
          </div>
        </form>


      </div>
      <div class="button-div">
        <button class="cancel-button">Cancel</button>

        <button class="submit-button" type="submit">Add selected questions</button>

      </div>
    </div>
  </div>
</div>